$white: #fffbfb;
$black: #141a2e;
$red: #ff4a4a;
$purple: #d64aff;

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-regular-light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-regular-bold.ttf");
	font-weight: 500;
}

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-extra-bold.ttf");
	font-weight: 700;
}

body {
	background-color: $white;
	margin: 0;
	background-image: url("../Images/homebg.png");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Agane';
	color: $black;
}

nav {
		margin: 0;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100%;
			display: block;
			padding-top: 1.6%;
			text-align: center;

			li {
				display: inline-block;
				padding: 0 5%;

				a {
					display: block;
					text-decoration: none;
					font-weight: 400;
					font-size: 200%;
					color: $white;
					position: relative;
				}

				a:before {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					bottom: 0;
					left: 0;
					visibility: hidden;
					//-webkit-transform: scaleX(0);
					transform: scaleX(0);
					//-webkit-transition: all 0.3s ease-in-out 0s;
					transition: all 0.3s ease-in-out 0s;
				}
				
				a:hover:before {
				  visibility: visible;
				  //-webkit-transform: scaleX(1);
				  transform: scaleX(1);
				}

				a:hover {
					
					color: #ffffff;
				}

			}
		}
	}

	@keyframes navHover {
		from {
			
		}

		to {
			
		}
	}

.content {
	.indLink {
			text-decoration: none;
			color: $red;
		}
  margin-left: 5%;
  margin-top: 17%;
  text-align: left;
	h1 {
		font-size: 5.25em;
		margin: 0;
		
	}

	.pCopy {
		font-weight: 500;
		font-size: 1.5em;
		line-height: 2;
	}

	.tagline {
		font-size: 2.5em;
		margin: 5% 0;
		margin-bottom: 0;
	}

	.subtag {
		font-size: 1.7em;
		//margin: 5% 0;
		margin-top: 2%;
	}
}

@media screen and (max-width: 1000px) {
	nav {
		ul {
			text-align: right;
			li {
				display: block;
				box-sizing: content-box;
				padding: 1.5%;
				padding-right: 5%;
				a {
					box-sizing: content-box;
					font-size: 200%;
					font-weight: 300;
				}

				a.current-page {
					font-weight: 500;
					font-size: 225%; 
				}
			}
		}
	}


	.content {
		text-align: center;
		margin-left: 0;

		h1 {
			font-size: 7.0em;
		}

		.pCopy {
			font-size: 3.0em;
		}

		.tagline {
			margin: 5% 0;
			font-size: 3.0em;
		}

		.subtag {
			margin: 0;
			font-size: 2.5em;
		}
	}
}

