@font-face {
  font-family: 'Agane';
  src: url("../fonts/agane-regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: 'Agane';
  src: url("../fonts/agane-regular-light.ttf");
  font-weight: 300; }
@font-face {
  font-family: 'Agane';
  src: url("../fonts/agane-regular-bold.ttf");
  font-weight: 500; }
@font-face {
  font-family: 'Agane';
  src: url("../fonts/agane-extra-bold.ttf");
  font-weight: 700; }
html {
  height: 100%; }

body {
  font-family: 'Agane';
  margin: 0; }

header {
  background-color: #141a2e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  header .logo_banner {
    background-color: #141a2e;
    display: flex; }
    header .logo_banner h1 {
      color: #ffffff;
      margin-left: 0.5em;
      line-height: 1; }
    header .logo_banner img {
      margin: auto 0.7em; }
  header nav {
    margin: auto 2%;
    background-color: #141a2e; }
    header nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end; }
      header nav ul li {
        padding: 1% 10%; }
        header nav ul li a {
          display: block;
          color: #ffffff;
          text-decoration: none;
          font-size: 1.75em;
          transition: 0.2s linear; }
        header nav ul li a:hover {
          color: #f43d5e; }

.page {
  display: flex;
  justify-content: center;
  margin: 5%;
  margin-top: 10%; }
  .page .title {
    padding: 0 7%; }
    .page .title h1 {
      font-size: 5.25em;
      color: #f43d5e;
      margin: 0; }
  .page .details {
    padding: 0 7%;
    font-size: 200%;
    font-weight: 500; }
    .page .details p {
      margin: 0; }
      .page .details p .to_linkedin {
        color: #f43d5e;
        line-height: 2;
        text-decoration: none; }
    .page .details .contact1 {
      font-weight: 400;
      background-color: #f43d5e;
      color: #ffffff;
      text-decoration: none;
      border-radius: 1.5em;
      padding: 3% 7%;
      text-align: center;
      transition: 0.1s linear; }
    .page .details .contact1:hover {
      border: 1px solid #f43d5e;
      background-color: #ffffff;
      color: #f43d5e; }

.about .details p {
  font-weight: 400; }

.about-more .details {
  padding-left: 0; }
  .about-more .details p {
    font-weight: 400; }
    .about-more .details p a {
      color: #f43d5e;
      text-decoration: none; }
    .about-more .details p a:hover {
      text-decoration: underline; }

.contact {
  /*.title {
    margin-left: 10%;
    padding-right: 0;
    h1 {
      font-size: 4.37em;
    }
  }*/ }
  .contact .details p {
    font-weight: 400; }

footer {
  background-color: #141a2e;
  text-align: center;
  color: #ffffff;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100vh;
  font-size: 1.5em;
  padding-top: 1.5%;
  padding-bottom: 1.5%; }

@media screen and (max-width: 1100px) {
  header nav ul {
    flex-direction: column; }

  .page {
    flex-wrap: wrap;
    justify-content: center; }
    .page .title {
      padding: 10% 0; }
      .page .title h1 {
        text-align: center; }
    .page .details {
      padding: 10% 0; }
      .page .details p {
        text-align: center;
        font-size: 80%; }
      .page .details .contact1 {
        text-align: center;
        margin-left: auto;
        margin-right: auto; } }

/*# sourceMappingURL=style.css.map */
