$white: #ffffff;
$black: #141a2e;
$red: #f43d5e;
$purple: #d64aff;

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-regular-light.ttf");
	font-weight: 300;
}

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-regular-bold.ttf");
	font-weight: 500;
}

@font-face {
	font-family: 'Agane';
	src: url("../fonts/agane-extra-bold.ttf");
	font-weight: 700;
}

html {
  height: 100%;
  //box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


body {
	font-family: 'Agane';
	margin: 0;

}


header {

  background-color: $black;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .logo_banner {
    background-color: $black;
    display: flex;
    h1 {
      color: $white;
      margin-left: 0.5em;
      line-height: 1;
      //display: inline-block;
    }
    img {
      margin: auto 0.7em;
    }
    //display: inline-block;
  }
  nav {
    margin: auto 2%;
    //line-height: 2.5;
    //padding-right: 2%;
  background-color: $black;
  //display: inline-block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      //float: right;
      //overflow: hidden;
      //display: inline-block;
      padding: 1% 10%;
      a {
        display: block;
        color: $white;
        text-decoration: none;
        font-size: 1.75em;
        transition: 0.2s linear;
        }
      a:hover {
        color: $red;
      }
      }
    }
  }
}



.page {
  display: flex;
  justify-content: center;
  margin: 5%;
  .title {

    //padding: 5%;
    padding: 0 10%;
    h1 {
      font-size: 625%;
      color: $red;
      margin: 0;
    }
  }

  .details {
    //padding: 5%;
    //margin-top: 20%;
    padding: 0 10%;
    font-size: 200%;
    font-weight: 500;
  
    p {
      margin: 0;
    }

    .contact1 {
      font-weight: 400;
      background-color: $red;
      color: $white;
      text-decoration: none;
      border-radius: 1.0em;
      padding: 3% 7%;

      transition: 0.1s linear;
    }

    .contact1:hover {
      border: 1px solid $red;
      background-color: $white;
      color: $red;
    }
  }
}



footer {
  background-color: $black;
  text-align: center;
  color: $white;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100vh;
  font-size: 1.5em;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}


@media screen and (max-width: 1048px) {
  header {
    nav {
      ul {
        flex-direction: column;
      }
    }
  }
}
    


    
 

  
